.diasabledPageNavButton{
  pointer-events: none;
  opacity: 0.6;
}

.pointer{
  cursor: pointer;
}

myImage {
  background-image: url('src/assets/images/money.jpg');
}

marginOfPercent {
  margin: 0 auto;

}
