.diasabledPageNavButton{
  pointer-events: none;
  opacity: 0.6;
}

.pointer{
  cursor: pointer;
}

myImage {
  background-image: url('src/assets/images/money.jpg');
}

marginOfPercent {
  margin: 0 auto;
}

#MoneyImage {
  display: inline;
  width: 48px;
  height: 55px;
  /* for money2.png image
  width: 60px;
  height: 48px;
   */
}

inlineImage {
  display: inline;
}
