<div class="container mt-5 text-center">
  <button (click)="handleGoalFormNav()"
          type="button" class="btn btn-outline-info">
    Add New Goal <img class="inlineElement" src="./assets/images/addGoal.png" alt="Goal image" width="35" height="35">
    <i class="bi bi-plus-circle-fill"></i>
  </button>
</div>

<ng-container *ngIf="(pageOfGoals$ | async) as state" [ngSwitch]="state.appState">

  <!--'ng-template' Directive: will reference the id 'errors' in case the user encounter an error from backend: -->
  <ng-template #errors><!-- If we have error, we display it here: -->
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <br><br>
  <!--'*ngSwitchCase="'APP_ERROR'': in case we got an error from the Backend captured by the 'state', THEN we will display the error in json. -->
  <ng-container *ngSwitchCase="'APP_ERROR'">
    <div class="container">
      <h3 class="text-danger">There was an error while getting your Goals, Please try later.
      </h3>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_ERROR'': in case the data is on 'state' loading, THEN we will display a spinner. -->
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_LOADED'': in case the data is on 'state' loaded, THEN we will display the whole table. -->
  <ng-container *ngSwitchCase="'APP_LOADED'" >
    <div *ngIf="state.appData?.content!.length > 0">
      <!-- Search Form: -->
        <form #searchForm="ngForm" (ngSubmit)="goToAnotherPage(searchForm.value.title.trim())" class="container input-group">
          <input type="text" name="title" ngModel type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">search <i class="bi bi-search"></i></button>
        </form>

<!--      <div class="d-flex justify-content-center">-->
<!--        <form >-->
<!--          <input type="text">-->
<!--          <button type="submit" class="btn btn-outline-primary">search <i class="bi bi-search"></i></button>-->
<!--        </form>-->
<!--      </div>-->
      <h4 class="text-center mt-2">Goals: </h4>
      <h6 class="text-center">How much I already saved?
        <img id="MoneyImage" src="./assets/images/money.jpg" alt="money image">
      </h6>
      <br>
      <!-- Display Goals In Cards of Rows: -->
      <section class="container">
        <section class="card" *ngFor="let goal of state.appData?.content; let i=index;" >
          <section class="row">
            <div class="col-md-3">
              <div class="m-5">
                {{goal.categoryIncome.categoryIncomeType}}
                <div *ngIf="goal.categoryIncome.categoryIncomeType==='SALARY'">
                  <img src="./assets/images/salary.png" alt="Salary image" width="55" height="55">
                </div>
                <div *ngIf="goal.categoryIncome.categoryIncomeType==='SAVINGS'">
                  <img src="./assets/images/saving.png" alt="Savings image" width="55" height="55">
                </div>
                <div *ngIf="goal.categoryIncome.categoryIncomeType==='GIFTS'">
                  <img src="./assets/images/gift.png" alt="Gift image" width="55" height="55">
                </div>
                <div *ngIf="goal.categoryIncome.categoryIncomeType==='TRADE_SALES'">
                  <img src="./assets/images/trade.png" alt="Trade image" width="55" height="55">
                </div>
              </div>
            </div>

            <span class="col-md-9">
            <div class="card-body">
<!--              <div class="card-title">{{goal.title}}</div>-->

              <div class="d-flex justify-content-between">
                <span class="card-title">{{goal.title}}</span>
                <!-- Circular Progress Bar: -->
                <div class="myCircularContainer p-1">
                  <div class="circular-progress">
                    <span class="progress-value">
<!--                      {{getPercentageOfAmountAchievedToCircularBar(goal.amountAchieved, goal.amount)}}%-->

                    </span>
                  </div>
                </div>
              </div>
              <section class="card-text"><strong >{{goal.amount}} DH</strong></section>
              <section class="d-flex justify-content-between">
                              <span *ngIf="(goal.amountAchieved/goal.amount<0.50)" class="badge rounded-pill bg-secondary">
                                Goal Not Achieved yet <i class="bi bi-patch-exclamation-fill" style="color: black"></i>
                              </span>
                              <span *ngIf="(goal.amountAchieved/goal.amount>0.50) && (goal.amountAchieved/goal.amount<1)" class="badge rounded-pill bg-info">
                <!--                Goal's nearly Achieved <i class="bi bi-hand-thumbs-up-fill" style="color: black"></i>-->
                                Goal is nearly Achieved <i class="bi bi-arrow-up-right-circle-fill" style="color: black"></i>
                              </span>
                              <span *ngIf="(goal.amountAchieved/goal.amount>=1)" class="badge rounded-pill bg-success">
                                Goal Achieved <i class="bi bi-patch-check-fill" style="color: black"></i>
                                <!--                <i class="bi bi-award-fill" style="color: black"></i>-->
                              </span>
                <span>
                  {{goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount)}}%
                </span>

              </section>
            </div>

            <section class="container">
              <section class="progress mb-3">

                <span [ngClass]="(goal.amountAchieved/goal.amount>=0 && goal.amountAchieved/goal.amount<0.50)?'progress-bar-fill bg-secondary' :
                                           (goal.amountAchieved/goal.amount>=0.50 && goal.amountAchieved/goal.amount<0.99)?'progress-bar-fill bg-info' :
                                           (goal.amountAchieved/goal.amount>=1)?'progress-bar-fill bg-success':''"
                      role="progressbar" [ngStyle]="{'width.%':  ((goal.amountAchieved)/(goal.amount)) * 100}"
                      attr.aria-valuenow="{{((goal.amountAchieved)/(goal.amount)) * 100}}"
                      aria-valuemin="0" aria-valuemax="100">

                </span>
              </section>
            </section>
          </span>
          </section>
        </section>
      </section>
      <nav *ngIf="state.appData?.content!.length > 0" aria-label="Page navigation example">
        <ul  class="pagination justify-content-center">
          <li [ngClass]="0==(currentPage$ | async)?'diasabledPageNavButton':''" class="page-item pointer">
            <a (click)="goToNextOrPreviousPage('PreviousPage',searchForm.value.title)" class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li class="page-item pointer" [ngClass]="(currentPage$ | async)==i?'active':''"
              *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i=index;">
            <a class="page-link" (click)="goToAnotherPage(searchForm.value.title, authService.authenticatedUserLogin!.id, i)">{{i + 1}}</a>
          </li>
          <li [ngClass]="state.appData?.last ? 'diasabledPageNavButton':''" class="page-item pointer">
            <a (click)="goToNextOrPreviousPage('NextPage',searchForm.value.title)" class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
    <!-- Bootstrap Alert Message pops up in case No Goals were found when we click search! -->
    <div *ngIf="state.appData?.content!.length < 1" class="alert alert-secondary mt-5" role="alert">
      No Goals were found!
    </div>

  </ng-container>

</ng-container>

<!--<script src="./goalscript.js"></script>-->
