<div class="container mt-5 text-center">
<!--  <button (click)="handleGoalFormNav()"-->
<!--          type="button" class="btn btn-outline-info">-->
<!--    <img class="inlineElement" src="./assets/images/addGoal.png" alt="Goal image" width="35" height="35">-->
<!--    Add New Goal &nbsp;-->
<!--    <i class="bi bi-plus-circle-fill"></i>-->
<!--  </button>-->
  <button (click)="openDialogOnAddNewGoal()"
          type="button" class="btn btn-outline-info">
    <img class="inlineElement" src="./assets/images/addGoal.png" alt="Goal image" width="35" height="35">
    Add New Goal &nbsp;
    <i class="bi bi-plus-circle-fill"></i>
  </button>
</div>

<ng-container *ngIf="(pageOfGoals$ | async) as state" [ngSwitch]="state.appState">

  <!--'ng-template' Directive: will reference the id 'errors' in case the user encounter an error from backend: -->
  <ng-template #errors><!-- If we have error, we display it here: -->
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <br><br>
  <!--'*ngSwitchCase="'APP_ERROR'': in case we got an error from the Backend captured by the 'state', THEN we will display the error in json. -->
  <ng-container *ngSwitchCase="'APP_ERROR'">
    <div class="container">
      <h3 class="text-danger">
        There was an error while getting your Goals, Please try later.
      </h3>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_ERROR'': in case the data is on 'state' loading, THEN we will display a spinner. -->
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>

  <!-- Search Form: -->
  <div class="MyDivForm">
    <form class="FormHover" #searchForm="ngForm" (ngSubmit)="goToAnotherPage(searchForm.value.title.trim())">
      <input type="text" name="title" ngModel type="search" placeholder=" Search Goal(s)" aria-label="Search"
             aria-describedby="search-addon"/>
      <button type="submit" class="MySearchButton">&nbsp;<i class="bi bi-search"></i></button>
    </form>
  </div>
  <!--'*ngSwitchCase="'APP_LOADED'': in case the data is on 'state' loaded, THEN we will display the whole table. -->
  <ng-container *ngSwitchCase="'APP_LOADED'">
    <div *ngIf="state.appData?.content!.length > 0">
      <!-- Search Form: -->
      <!--      <div class="MyDivForm">-->
      <!--        <form #searchForm="ngForm" (ngSubmit)="goToAnotherPage(searchForm.value.title.trim())">-->
      <!--          <input type="text" name="title" ngModel type="search" placeholder=" Search Goal(s)" aria-label="Search" aria-describedby="search-addon" />-->
      <!--          <button type="submit" class="MySearchButton">&nbsp;<i class="bi bi-search"></i></button>-->
      <!--        </form>-->
      <!--      </div>-->
      <h4 class="text-center mt-3">Goals </h4>
      <h6 class="text-center">
        <img id="MoneyImage" src="./assets/images/money.jpg" alt="money image">
        <span>&nbsp;How much I already saved?</span>
      </h6>
      <br>
      <!-- Display Goals In Cards of Rows: -->
      <section class="container">
        <section class="card" *ngFor="let goal of state.appData?.content; let i=index;">
          <section class="row visitedCard">
            <div class="col-md-3">
              <div class="m-5">
                <!--                {{goal.categoryIncome.categoryIncomeType}}-->
                <div *ngIf="goal.categoryIncome.categoryIncomeType">
                  <img [src]="incomeService.handleIncomeImage(goal.categoryIncome.categoryIncomeType)"
                       [alt]="incomeService.handleAltOfIncomeImage(goal.categoryIncome.categoryIncomeType)" width="55"
                       height="55">
                </div>
              </div>
            </div>

            <span class="col-md-9">
            <div class="card-body">
<!--              <div class="card-title">{{goal.title}}</div>-->

              <div class="d-flex justify-content-between">
                <span>
                  <section>
                    <strong
                      class="card-title">{{incomeService.handleCatIncomeNameByCategory(goal.categoryIncome.categoryIncomeType)}}
                    </strong>
                  </section><br>
                  <section class="card-text">
                    <span>
                      Limit: <strong>{{goal.amount.toFixed(2)}}</strong>
                             <strong>&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
                    </span>
                  </section>
                  <span class="card-text">
                      <span>Amount Achieved:
                        <strong class="text-success">{{goal.amountAchieved.toFixed(2)}}</strong>
                        <strong class="text-success">&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
                      </span>
                  </span>
                </span>
                <span *ngIf="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) < 30">
                  <circle-progress
                    [percent]="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount)"
                    [radius]="75"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="0.5"
                    [outerStrokeColor]="'#b2bab1'"
                    [innerStrokeColor]="'#6e706e'"
                    [showInnerStroke]="true"
                    [animation]="true"
                    [animationDuration]="3500"
                    [subtitle]="'Achieved'"
                  ></circle-progress>
                </span>
                <span *ngIf="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) < 75 &&
                 goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) >= 30">
                  <circle-progress
                    [percent]="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount)"
                    [radius]="75"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="0.5"
                    [outerStrokeColor]="'#bfe0bc'"
                    [innerStrokeColor]="'#6e706e'"
                    [showInnerStroke]="true"
                    [animation]="true"
                    [animationDuration]="5000"
                    [subtitle]="'Achieved'"
                  ></circle-progress>
                </span>
                <span *ngIf="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) >= 75 &&
                 goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) < 100">
                  <circle-progress
                    [percent]="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount)"
                    [radius]="75"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="0.5"
                    [showInnerStroke]="true"
                    [outerStrokeColor]="'#73d46a'"
                    [innerStrokeColor]="'#6e706e'"
                    [animation]="true"
                    [animationDuration]="5000"
                    [subtitle]="'Achieved'"
                  ></circle-progress>
                </span>
                <span *ngIf="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount) >= 100">
                  <circle-progress
                    [percent]="goalService.getPercentageOfAmountAchieved(goal.amountAchieved, goal.amount)"
                    [radius]="75"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="0.5"
                    [showInnerStroke]="true"
                    [outerStrokeColor]="'#0e7305'"
                    [innerStrokeColor]="'#6e706e'"
                    [animation]="true"
                    [animationDuration]="5000"
                    [subtitle]="'Achieved'"
                  ></circle-progress>
                </span>
                <span *ngIf="authService.isAuthenticateUserHasRoleService('USER')">
                   <a>
                     <span class="text-success pointer" (click)="openDialogOnUpdateGoal(goal)">
                       <i class="bi bi-pencil-square"></i>
                     </span>
                   </a>
                </span>
              </div>

              <br>
              <section class="d-flex justify-content-between">
                <span *ngIf="(goal.amountAchieved/goal.amount<0.50)"
                                    class="badge rounded-pill bg-secondary">
                                Goal Not Achieved yet <i class="bi bi-patch-exclamation-fill" style="color: black"></i>
                </span>
                <span
                                *ngIf="(goal.amountAchieved/goal.amount>0.50) && (goal.amountAchieved/goal.amount<1)"
                                class="badge rounded-pill" style="background-color: #73d46a">
                                Goal is nearly Achieved <i class="bi bi-arrow-up-right-circle-fill"
                                                           style="color: black"></i>
                </span>
                <span *ngIf="(goal.amountAchieved/goal.amount>=1)" class="badge rounded-pill bg-success">
                                Goal Achieved <i class="bi bi-patch-check-fill" style="color: black"></i>
                </span>
                <span class="text-danger pointer"
                      (click)="
                        handleGoalDeleteFinalV2(
                        goal, state.appData!.number,
                         state.appData!.last = state.appData!.last,
                        state.appData!.totalPages = state.appData!.totalPages,
                        state.appData!.content!.length = state.appData!.content!.length,
                         state.appData!.totalElements = state.appData!.totalElements,
                         state.appData!.first = state.appData!.first,
                         state.appData!.numberOfElements = state.appData!.numberOfElements,
                         state.appData!.empty = state.appData!.empty,
                         state.appData!.pageable!.sort!.empty,
                         state.appData!.pageable!.sort!.sorted,
                         state.appData!.pageable!.sort!.unsorted,
                          state.appData!.pageable!.offset,
                          state.appData!.pageable!.pageNumber,
                          state.appData!.pageable!.pageSize,
                          state.appData!.pageable!.unpaged,
                          state.appData!.pageable!.paged,
                          state.appData!.sort!.empty,
                          state.appData!.sort!.sorted,
                          state.appData!.sort!.unsorted)">
                    <i class="bi bi-trash"></i>
                  </span>

              </section>
              <br>
              <section class="d-flex justify-content-between">
                <span class="card-text">Debut Date: <small class="text-muted"> {{goal.dateDebut | date}}</small></span>
                <span class="card-text">End Date: <small class="text-muted">{{goal.endDate | date}}</small></span>
              </section>
            </div>
          </span>
          </section>
        </section>
      </section>
      <nav *ngIf="state.appData?.content!.length > 0" aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li [ngClass]="0==(currentPage$ | async)?'diasabledPageNavButton':''" class="page-item pointer">
            <a (click)="goToNextOrPreviousPage('PreviousPage',searchForm.value.title)" class="page-link"
               aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li class="page-item pointer" [ngClass]="(currentPage$ | async)==i?'active':''"
              *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i=index;">
            <a class="page-link"
               (click)="goToAnotherPage(searchForm.value.title, authService.authenticatedUserLogin!.id, i)">{{i + 1}}</a>
          </li>
          <li [ngClass]="state.appData?.last ? 'diasabledPageNavButton':''" class="page-item pointer">
            <a (click)="goToNextOrPreviousPage('NextPage',searchForm.value.title)" class="page-link" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
    <!-- Bootstrap Alert Message pops up in case No Goals were found when we click search! -->
    <div *ngIf="state.appData?.content!.length < 1" class="alert alert-secondary mt-5" role="alert">
      No Goals were found!
    </div>

  </ng-container>

</ng-container>
