
<!--<h2 class="text-center p-5">-->
<!--  Total Expenses-->
<!--</h2>-->
<div class="twelve">
  <h1>Total Incomes</h1>
</div>
<section class="container" *ngIf="totalIncomesList">
  <section class="card" *ngFor="let income of totalIncomesList" >
    <section class="row visitedCard">

      <span class="col-md-12">
            <div class="card-body">
<!--              <div class="d-flex justify-content-center">-->
              <div class="myContainerOfExpenses">

<!--                <div class="m-5">-->
                  <span *ngIf="income.month"
                        class="boxAndMarginTop">
                    <img [src]="expanseService.handleCalendarMonth(income.month)"
                         [alt]="expanseService.handleAltOfCalendarMonth(income.month)"
                         width="40" height="40">&nbsp;
                    <div class="card-title" >{{income.year}}</div>
                  </span>
                <!--                </div>-->

                <span class="boxAndMarginTop">
<!--                  <span>-->
<!--                    <img src="./assets/images/totalincome.png" alt="Calendar image" width="25" height="25">-->
<!--                  </span>-->
<!--                  <span>-->
<!--                    <img src="./assets/images/incomestats.png" alt="Total Incomes image" width="40" height="40">-->
<!--                  </span>-->
<!--                  <span>-->
<!--                    <strong>{{income.totalIncomes}} DH</strong>-->
<!--                  </span>-->
                  <div>
                    <strong>{{income.totalIncomes.toFixed(2)}}</strong>
                    <strong>&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
                  </div>
                  <div>
                    incomes
                  </div>
                </span>

                <span *ngIf="income.amountInterval>0" class="box">
                  <div >
                    <span>
                      <img src="./assets/images/highincome.png" alt="High Income image" width="40" height="40">
                    </span>&nbsp;
                  <span class="card-title align-center text-success" *ngIf="income.amountInterval>0">
                    <strong>{{income.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span *ngIf="income.amountInterval<0" class="box">
                  <div >
<!--                  <div>-->
<!--                    <img src="./assets/images/lessspendings-reel.png" alt="Less Spending image" width="32" height="32">-->
<!--                  </div>-->
<!--                  <div>-->
<!--                    <img src="./assets/images/overspending-reel.png" alt="Low Income image" width="32" height="32">-->
<!--                  </div>-->
                  <span>
                    <img src="./assets/images/lowincome.png" alt="Low Income image" width="40" height="40">
                  </span>&nbsp;
                  <span class="card-title align-center text-danger" *ngIf="income.amountInterval<0">
                    <strong>{{income.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span class="hrLineInterval " *ngIf="income.amountInterval===0" >

                </span>

                <span class="card-title boxAndMarginTop" >
                  <span *ngIf="income.percentOfAmountInterval<0">
                    <strong>
                    <em class="text-danger">
                      ({{income.percentOfAmountInterval.toFixed(2)}} %)
                    </em>
                  </strong>
                  </span>
                  <span *ngIf="income.percentOfAmountInterval>0">
                    <strong >
                      <em class="text-success">
                        ({{income.percentOfAmountInterval.toFixed(2) }} %)
                      </em>
                  </strong>
                  </span>

                  <span class="hrLinePercent" *ngIf="income.percentOfAmountInterval===0">
                  </span>
                </span>

              </div>

            </div>

            <section class="container d-flex justify-content-center">
              <span class="card-text">Date:&nbsp;
                <small class="text-muted">
                  {{income.month}}
                  /
                  {{income.year}}
                </small>
              </span>

            </section>
          </span>

    </section>
  </section>
  <!-- We check if the Array is Not null & empty by '!totalIncomesList.length'. -->
  <div *ngIf="!totalIncomesList.length"  class="container alert alert-secondary mt-5" role="alert">
    <!-- Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! -->
    No Incomes Summary were found!
  </div>
</section>

<!--
  ERROR TypeError: Cannot read properties of undefined (reading 'length')
    at TotalIncomesComponent_Template (total-incomes.component.html:115:7)
-->

<!--<div *ngIf="totalIncomesList.length <1"  class="container alert alert-secondary mt-5" role="alert">-->
<!--  &lt;!&ndash; Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! &ndash;&gt;-->
<!--  No Incomes Summary were found!-->
<!--</div>-->
