
<!--<h2 class="text-center p-5">-->
<!--  Total Expenses-->
<!--</h2>-->
<div class="twelve">
  <h1>Total Expenses</h1>
</div>
<section class="container" *ngIf="totalExpansesList">
  <section class="card" *ngFor="let expense of totalExpansesList" >
    <section class="row visitedCard">
<!--      <div class="col-md-3">-->
<!--        <div class="m-5">-->
<!--          <span *ngIf="expense.month">-->
<!--            <div class="card-title" >{{expense.year}}</div>-->
<!--            <img [src]="handleCalendarMonth(expense.month)" [alt]="handleAltOfCalendarMonth(expense.month)"-->
<!--                  width="40" height="40">-->
<!--          </span>-->

<!--        </div>-->
<!--      </div>-->

      <span class="col-md-12">
            <div class="card-body">
<!--              <div class="d-flex justify-content-center">-->
              <div style="display: flex; flex-flow: row wrap; align-items: center;
              align-content: space-evenly; justify-content: space-evenly; margin: auto">

<!--                <div class="m-5">-->
                  <span *ngIf="expense.month"
                        style="min-width: 200px; padding: 0.5rem; display: flex; align-items: center;
                        justify-content: center; margin-top: 2rem">
                    <img [src]="handleCalendarMonth(expense.month)" [alt]="handleAltOfCalendarMonth(expense.month)"
                          width="40" height="40">&nbsp;
                    <div class="card-title" >{{expense.year}}</div>
                  </span>
<!--                </div>-->

                <span style="min-width: 200px; padding: 0.5rem; display: flex; align-items: center;
                 justify-content: center; margin-top: 2rem">
                  <span>
                    <img src="./assets/images/totalExpenses.webp" alt="Total Expenses image" width="45" height="45">
                  </span>&nbsp;
                  <span>
                    <strong>{{expense.totalExpanses}} DH</strong>
                  </span>
                </span>

                <span *ngIf="expense.amountInterval>0" style="min-width: 200px;
                padding: 0.5rem; display: flex; align-items: center; justify-content: center;">
                  <div >
                  <div>
                    <img src="./assets/images/overspending-reel.png" alt="Over Spending image" width="32" height="32">
                  </div>
                  <span>
                    <img src="./assets/images/overspending-reel-4.png" alt="Over Spending image" width="32" height="32">
                  </span>&nbsp;
                  <span class="card-title align-center text-danger" *ngIf="expense.amountInterval>0">
                    <strong>{{expense.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span *ngIf="expense.amountInterval<0" style="min-width: 200px;
                padding: 0.5rem; display: flex; align-items: center; justify-content: center;">
                  <div >
                  <div>
                    <img src="./assets/images/lessspendings-reel.png" alt="Less Spending image" width="32" height="32">
                  </div>
                  <span>
                    <img src="./assets/images/lessspendings-reel-2.png" alt="Less Spending image" width="32" height="32">
                  </span>&nbsp;
                  <span class="card-title align-center text-success" *ngIf="expense.amountInterval<0">
                    <strong>{{expense.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span class="card-title " *ngIf="expense.percentOfAmountInterval" style="min-width: 200px;
                padding: 0.5rem; display: flex; align-items: center; justify-content: center; margin-top: 2rem">
                  <span *ngIf="expense.percentOfAmountInterval<0">
                    <strong>
                    <em class="text-success">
                      ({{expense.percentOfAmountInterval.toFixed(2)}} %)
                    </em>
                  </strong>
                  </span>
                  <span *ngIf="expense.percentOfAmountInterval>0">
                    <strong >
                      <em class="text-danger">
                        ({{expense.percentOfAmountInterval.toFixed(2) }} %)
                      </em>
                  </strong>
                  </span>
<!--                  <strong *ngIf="expense.percentOfAmountInterval===0">-->
<!--                    <em >-->
<!--                    </em>-->
<!--                  </strong>-->
<!--                  <span *ngIf="expense.percentOfAmountInterval===0">-->
                    <hr *ngIf="expense.percentOfAmountInterval===0" id="hrLine">
<!--                  </span>-->
                </span>
<!--                <div>-->
<!--&lt;!&ndash;                  Empty div to gain another fake place for UI Position of pics: &ndash;&gt;-->
<!--                </div>-->

              </div>
              <section class="d-flex justify-content-start">
<!--                <span class="pt-5">-->
<!--                  <span>-->
<!--                    <img src="./assets/images/totalExpenses.webp" alt="Total Expenses image" width="45" height="45">-->
<!--                  </span>&nbsp;-->
<!--                  <span>-->
<!--                    <strong>{{expense.totalExpanses}} DH</strong>-->
<!--                  </span>-->
<!--                </span>-->

<!--                <span>-->
<!--                  <div *ngIf="expense.amountInterval>0">-->
<!--                  <div>-->
<!--                    <img src="./assets/images/overspending-reel.png" alt="Over Spending image" width="45" height="45">-->
<!--                  </div>-->
<!--                  <span>-->
<!--                    <img src="./assets/images/overspending-reel-4.png" alt="Over Spending image" width="45" height="45">-->
<!--                  </span>&nbsp;-->
<!--                  <span class="card-title align-center text-danger" *ngIf="expense.amountInterval>0">-->
<!--                    <strong>{{expense.amountInterval}} DH</strong>-->
<!--                  </span>-->
<!--                  </div>-->
<!--                </span>-->
<!--                -->
<!--                <span>-->
<!--                  <div *ngIf="expense.amountInterval<0">-->
<!--                  <div>-->
<!--                    <img src="./assets/images/lessspendings-reel.png" alt="Less Spending image" width="32" height="32">-->
<!--                  </div>-->
<!--                  <span>-->
<!--                    <img src="./assets/images/lessspendings-reel-2.png" alt="Less Spending image" width="32" height="32">-->
<!--                  </span>&nbsp;-->
<!--                  <span class="card-title align-center text-success" *ngIf="expense.amountInterval<0">-->
<!--                    <strong>{{expense.amountInterval}} DH</strong>-->
<!--                  </span>-->
<!--                  </div>-->
<!--                </span>-->
<!--                -->
<!--                <span class="card-title pt-5 mt-4" *ngIf="expense.percentOfAmountInterval">-->
<!--                  <strong *ngIf="expense.percentOfAmountInterval<0">-->
<!--                    <em class="text-success">-->
<!--                      ({{expense.percentOfAmountInterval.toFixed(2)}} %)-->
<!--                    </em>-->
<!--                  </strong>-->
<!--                  <strong *ngIf="expense.percentOfAmountInterval>0">-->
<!--                    <em class="text-danger">-->
<!--                      ({{expense.percentOfAmountInterval.toFixed(2) }} %)-->
<!--                    </em>-->
<!--                  </strong>-->
<!--                </span>-->
                <!--                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">End Date:&nbsp;<small class="text-muted">{{expensesByCat.endDate}}</small></span>-->
              </section>
              <!--              <section class="card-text">Debut Date:&nbsp;<small class="text-muted">{{budget.dateDebut}}</small></section>-->
              <!--              <section class="card-text">End Date:&nbsp;<small class="text-muted">{{budget.endDate}}</small></section>-->
              <section>
<!--                <span class="d-flex justify-content-end" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">-->
                <!--                  <span class="text-danger pointer" (click)="handleBudgetDelete(budget)">-->
                <!--&lt;!&ndash;                <i class="bi bi-x-square"></i>&ndash;&gt;-->
                <!--                    <i class="bi bi-trash"></i>-->
                <!--                  </span>-->
                <!--                </span>-->
              </section>
              <section class="d-flex justify-content-between">

              </section>
            </div>

            <section class="container d-flex justify-content-center">
              <span class="card-text">Date:&nbsp;<small class="text-muted">{{expense.month}} / {{expense.year}}</small></span>


              <!--                <section class="progress mb-3">-->
<!--                <span [ngClass]="(expense.percentOfAmountInterval>0)?'progress-bar-fill ':''"-->
<!--                      role="progressbar" [ngStyle]="{'width.%':  expense.percentOfAmountInterval,-->
<!--                       'background-color': '#2e3b31'}"-->
<!--                      attr.aria-valuenow="{{expense.percentOfAmountInterval}}"-->
<!--                      aria-valuemin="0" aria-valuemax="100">-->

<!--                </span>-->
<!--                </section>-->
            </section>
          </span>

    </section>
  </section>
</section>

<div *ngIf="!totalExpansesList"  class="alert alert-secondary mt-5" role="alert">
  <!-- Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! -->
    No Expanses Summary were found!
</div>
