
<!--<h2 class="text-center p-5">-->
<!--  Total Expenses-->
<!--</h2>-->
<div class="twelve">
  <h1>Total Expenses</h1>
</div>
<section class="container" *ngIf="totalExpansesList">
  <section class="card" *ngFor="let expense of totalExpansesList" >
    <section class="row visitedCard">

      <span class="col-md-12">
            <div class="card-body">
<!--              <div class="d-flex justify-content-center">-->
              <div class="myContainerOfExpenses">

<!--                <div class="m-5">-->
                  <span *ngIf="expense.month"
                        class="boxAndMarginTop">
                    <img [src]="expanseService.handleCalendarMonth(expense.month)" [alt]="expanseService.handleAltOfCalendarMonth(expense.month)"
                          width="40" height="40">&nbsp;
                    <div class="card-title" >{{expense.year}}</div>
                  </span>
<!--                </div>-->

                <span class="boxAndMarginTop">
                  <span>
                    <img src="./assets/images/totalincome.png" alt="Calendar image" width="25" height="25">
                  </span>
                  <span>
                    <img src="./assets/images/totalExpenses.webp" alt="Total Expenses image" width="40" height="40">
                  </span>&nbsp;
                  <span>
                    <strong>{{expense.totalExpanses}} DH</strong>
                  </span>
                </span>

                <span *ngIf="expense.amountInterval>0" class="box">
                  <div >
<!--                  <div>-->
<!--                    <img src="./assets/images/overspending-reel.png" alt="Over Spending image" width="32" height="32">-->
<!--                  </div>-->
                  <span>
                    <img src="./assets/images/overspending-reel-4.png" alt="Over Spending image" width="32" height="32">
                  </span>&nbsp;
                  <span class="card-title align-center text-danger" *ngIf="expense.amountInterval>0">
                    <strong>{{expense.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span *ngIf="expense.amountInterval<0" class="box">
                  <div >
<!--                  <div>-->
<!--                    <img src="./assets/images/lessspendings-reel.png" alt="Less Spending image" width="32" height="32">-->
<!--                  </div>-->
                  <span>
                    <img src="./assets/images/saving.png" alt="Less Spending image" width="40" height="40">
                  </span>&nbsp;
                  <span class="card-title align-center text-success" *ngIf="expense.amountInterval<0">
                    <strong>{{expense.amountInterval}} DH</strong>
                  </span>
                  </div>
                </span>

                <span class="hrLineInterval " *ngIf="expense.amountInterval===0" >

                </span>

                <span class="card-title boxAndMarginTop" >
                  <span *ngIf="expense.percentOfAmountInterval<0">
                    <strong>
                    <em class="text-success">
                      ({{expense.percentOfAmountInterval.toFixed(2)}} %)
                    </em>
                  </strong>
                  </span>
                  <span *ngIf="expense.percentOfAmountInterval>0">
                    <strong >
                      <em class="text-danger">
                        ({{expense.percentOfAmountInterval.toFixed(2) }} %)
                      </em>
                  </strong>
                  </span>

                  <span class="hrLinePercent" *ngIf="expense.percentOfAmountInterval===0">
                  </span>
                </span>

              </div>

            </div>

            <section class="container d-flex justify-content-center">
              <span class="card-text">Date:&nbsp;
                <small class="text-muted">
                  {{expense.month}}
                    /
                  {{expense.year}}
                </small>
              </span>

            </section>
          </span>

    </section>
  </section>
</section>

<div *ngIf="!totalExpansesList"  class="alert alert-secondary mt-5" role="alert">
  <!-- Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! -->
    No Expanses Summary were found!
</div>
