<h4>List of Budgets: </h4>

<div class="table-responsive-md">

  <table class="table">
    <thead >
    <th>Title</th><th>Description</th><th>Amount</th>
    <th>Debut Date</th><th>End Date</th>
    <th>Amount Spent</th><th>Amount Remains</th>
    <th>Category of Budget</th>
    <th>User Id</th><th>User Name</th>
    </thead>
    <tbody >
    <tr *ngFor="let budget of budgetList | async">
      <td>{{budget.title}}</td>
      <td>{{budget.description}}</td>
      <td>{{budget.amount}}</td>
      <td>{{budget.dateDebut}}</td>
      <td>{{budget.endDate}}</td>
      <td>{{budget.amountSpent}}</td>
      <td>{{budget.amountRemains}}</td>
      <td>{{budget.categoryExpanse.categoryExpanseType}}</td>
      <td *ngIf="budget.user!==null">{{budget.user.id}}</td>
      <td *ngIf="budget.user!==null">{{budget.user.name}}</td>
    </tr>
    </tbody>
  </table>

</div>
