<div class="container mt-5 text-center">
  <button (click)="handleBudgetFormNav()"
    type="button" class="btn btn-outline-primary">
    <img class="inlineElement" src="./assets/images/budget.png" alt="Add Budget image" width="35" height="35">
    Add New Budget &nbsp;
    <i class="m-1 bi bi-plus-circle"></i>
  </button>
</div>
<ng-container *ngIf="(pageOfBudgets$ | async) as state" [ngSwitch]="state.appState">

  <br><br>
  <!--'*ngSwitchCase="'APP_ERROR'': in case we got an error from the Backend captured by the 'state', THEN we will display the error in json. -->
  <ng-container *ngSwitchCase="'APP_ERROR'">
    <div class="container">
      <h3 class="text-danger">There was an error While getting your budgets, Please try later.
      </h3>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_ERROR'': in case the data is on 'state' loading, THEN we will display a spinner. -->
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>

  <!-- Search Form: -->
  <div class="MyDivForm">
    <form class="FormHover" #searchForm="ngForm" (ngSubmit)="goToAnotherPageOfBudgets(searchForm.value.title.trim())">
      <input type="text" name="title" ngModel type="search" placeholder=" Search Budget(s)" aria-label=" Search Budget(s)" aria-describedby="search-addon" />
      <button type="submit" class="MySearchButton">&nbsp;<i class="bi bi-search"></i></button>
    </form>
  </div>
  <ng-container *ngSwitchCase="'APP_LOADED'">
    <div *ngIf="state.appData?.content!.length > 0" class="container">
<!--      &lt;!&ndash; Search Form: &ndash;&gt;-->
<!--      <div class="MyDivForm">-->
<!--      <form #searchForm="ngForm" (ngSubmit)="goToAnotherPageOfBudgets(searchForm.value.title.trim())">-->
<!--        <input type="text" name="title" ngModel type="search" placeholder="Search" aria-label=" Search Budget(s)" aria-describedby="search-addon" />-->
<!--        <button type="submit" class="MySearchButton">&nbsp;<i class="bi bi-search"></i></button>-->
<!--      </form>-->
<!--      </div>-->

      <h4 class="text-center mt-3">Budgets </h4>
      <h6 class="text-center">How much I want to spent for something on a period of time?
        <img class="inlineElement" src="./assets/images/budgetHowMuch.png"
             alt="budget image" height="55" width="55">
        <i class="bi bi-calendar-date"></i>
        <i class="bi bi-hourglass-split"></i>
      </h6>

      <!-- Display Goals In Cards of Rows: -->
      <section class="container">
        <section class="card" *ngFor="let budget of state.appData?.content; let i=index;" >
          <section class="row visitedCard">
            <div class="col-md-3">
              <div class="m-5">
<!--                {{budget .categoryExpanse.categoryExpanseType}}-->
                <div *ngIf="budget.categoryExpanse.categoryExpanseType" >
                  <img [src]="expenseService.handleImageExpense(budget.categoryExpanse.categoryExpanseType)"
                       [alt]="expenseService.handleAltOfImageExpense(budget.categoryExpanse.categoryExpanseType)" width="55" height="55">
                </div>

              </div>
            </div>

            <span class="col-md-9">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="card-title"><strong>{{expenseService.handleCatExpNameByCategory(budget.categoryExpanse.categoryExpanseType)}}</strong></span>
                <span *ngIf="authService.isAuthenticateUserHasRoleService('USER')"><!--'expanse/updateExpanse/:expanseId' -->
                  <a> <!-- [routerLink]="['/expanse/updateExpanse/', expanse.id]" -->
                    <span class="text-success pointer" (click)="handleUpdateBudgetForm(budget)">
                      <i class="bi bi-pencil-square"></i>
                    </span>
                  </a>
                </span>
              </div>
              <section class="card-text">
                <span>
                  Limit: &nbsp;<strong>{{budget.amount.toFixed(2)}}</strong>
                          <strong>&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
                </span>
              </section>
              <section class="card-text">
                <span >Spent: &nbsp;
                  <strong>{{budget.amountSpent.toFixed(2)}}</strong>
                  <strong>&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
                </span>
              </section>
              <section class="card-text">
                <span >
                  Remaining: &nbsp;<strong>{{budget.amountRemains.toFixed(2)}}</strong>
                             &nbsp;<strong>{{authService.authenticatedUserLogin!.currency}}</strong>
                </span>
              </section>
              <section class="d-flex justify-content-center">
                <span class="card-text">Debut Date:&nbsp;<small class="text-muted">{{budget.dateDebut}}</small></span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">End Date:&nbsp;<small class="text-muted">{{budget.endDate}}</small></span>
              </section>
<!--              <section class="card-text">Debut Date:&nbsp;<small class="text-muted">{{budget.dateDebut}}</small></section>-->
<!--              <section class="card-text">End Date:&nbsp;<small class="text-muted">{{budget.endDate}}</small></section>-->
              <section>
                <span class="d-flex justify-content-end" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">
                  <span class="text-danger pointer" (click)="handleBudgetDelete(budget)">
<!--                <i class="bi bi-x-square"></i>-->
                    <i class="bi bi-trash"></i>
                  </span>
                </span>
              </section>
              <section class="d-flex justify-content-between">
                              <span *ngIf="(budget.amountSpent/budget.amount<0.50)" class="badge rounded-pill bg-success">
                Budget is Respected  <i class="bi bi-trophy-fill" style="color: black"></i>
              </span>
              <span *ngIf="(budget.amountSpent/budget.amount>=0.50) && (budget.amountSpent/budget.amount<=0.99)" class="badge rounded-pill bg-warning">
                Budget's nearly Out of Control <i class="bi bi-exclamation-triangle-fill" style="color: black"></i>!
              </span>
              <span *ngIf="(budget.amountSpent/budget.amount>=1)" class="badge rounded-pill bg-danger">
                Budget is Out of Control <i class="bi bi-sign-stop" style="color: black"></i>!
              </span>

                <span>
                  {{budgetService.getPercentageOfAmountRemains(budget.amountRemains, budget.amount)}}% Respected
                </span>
              </section>
            </div>

            <section class="container">
              <section class="progress mb-3">

                <span [ngClass]="(budget.amountRemains/budget.amount>=0 && budget.amountRemains/budget.amount<0.50)?'progress-bar-fill bg-warning' :
                                           (budget.amountRemains/budget.amount>=0.50)?'progress-bar-fill bg-success' :
                                           (budget.amountRemains/budget.amount<0)?'progress-bar-fill bg-secondary':''"
                      role="progressbar" [ngStyle]="{'width.%':  ((budget.amountRemains)/(budget.amount)) * 100}"
                      attr.aria-valuenow="{{((budget.amountRemains)/(budget.amount)) * 100}}"
                      aria-valuemin="0" aria-valuemax="100">

                </span>
<!--                <span [ngClass]="(budget.amountRemains/budget.amount>=0 && budget.amountRemains/budget.amount<0.50)?'progress-bar-fill bg-warning' :-->
<!--                                           (budget.amountRemains/budget.amount>=0.50)?'progress-bar-fill bg-success' :-->
<!--                                           (budget.amountRemains/budget.amount<0)?'progress-bar-fill bg-secondary':''"-->
<!--                      role="progressbar" [ngStyle]="{'width.%':  ((budget.amountRemains)/(budget.amount)) * 100}"-->
<!--                      attr.aria-valuenow="{{((budget.amountRemains)/(budget.amount)) * 100}}"-->
<!--                      aria-valuemin="0" aria-valuemax="100">-->

<!--                </span>-->
              </section>
            </section>
          </span>
          </section>
        </section>
      </section>
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li [ngClass]="0==(currentPage$ | async)?'diasabledPageNavButton':''" class="page-item pointer">
                    <a (click)="goToNextOrPreviousPageOfBudgets('PreviousPage',searchForm.value.title)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <li class="page-item pointer" [ngClass]="(currentPage$ | async)==i?'active':''"
                      *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i=index;">
                    <a class="page-link" (click)="goToAnotherPageOfBudgets(searchForm.value.title, authService.authenticatedUserLogin!.id, i)">{{i + 1}}</a>
                  </li>
                  <li [ngClass]="state.appData?.last ? 'diasabledPageNavButton':''" class="page-item pointer">
                    <a (click)="goToNextOrPreviousPageOfBudgets('NextPage',searchForm.value.title)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">Next &raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

    </div>
    <!-- Bootstrap Alert Message pops up in case No Expanses were found when we click search! -->
    <div *ngIf="state.appData?.content!.length < 1" class="alert alert-secondary mt-5" role="alert">
      No Budgets were found!
    </div>
  </ng-container>

</ng-container>

