<div class="container mt-5 text-center">
  <button (click)="handleBudgetFormNav()"
    type="button" class="btn btn-outline-primary">Add New Budget</button>
</div>
<ng-container *ngIf="(pageOfBudgets$ | async) as state" [ngSwitch]="state.appState">

  <br><br>
  <!--'*ngSwitchCase="'APP_ERROR'': in case we got an error from the Backend captured by the 'state', THEN we will display the error in json. -->
  <ng-container *ngSwitchCase="'APP_ERROR'">
    <div class="container">
      <h3 class="text-danger">There was an error While getting your budgets, Please try later.
      </h3>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_ERROR'': in case the data is on 'state' loading, THEN we will display a spinner. -->
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>

  <!-- Search Form: -->
  <form #searchForm="ngForm" (ngSubmit)="goToAnotherPageOfBudgets(searchForm.value.title.trim())" class="container input-group">
    <input type="text" name="title" ngModel type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="btn btn-outline-primary">search</button>
  </form>
  <ng-container *ngSwitchCase="'APP_LOADED'">
    <div *ngIf="state.appData?.content!.length > 0" class="container">
      <h4 class="text-center mt-5">List of Budgets: </h4>
      <hr>
      <div class="table-responsive-lg">

        <table class="table bg-white">
          <thead class="bg-light">
          <tr>
          <th>Title</th><th>Description</th><th>Amount</th>
          <th>Debut Date</th><th>End Date</th>
          <th>Amount Remains</th>
          <th>Amount Spent</th>
          <th>Category of Budget</th>
          <!--    <th>User Id</th>-->
          <th>User Name</th>
          <th class="text-primary" colspan="2" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">Actions</th>
          </tr>
          </thead>
          <tbody >
          <tr *ngFor="let budget of state.appData?.content; let i=index; ">
            <td>
              {{budget.title}}<br>
              <span *ngIf="(budget.amountSpent/budget.amount<=0.50)" class="badge rounded-pill bg-success">
                Budget is Respected  <i class="bi bi-trophy-fill" style="color: black"></i>
              </span>
              <span *ngIf="(budget.amountSpent/budget.amount>=0.50) && (budget.amountSpent/budget.amount<=0.99)" class="badge rounded-pill bg-warning">
                Budget's nearly Out of Control <i class="bi bi-exclamation-triangle-fill" style="color: black"></i>!
              </span>
              <span *ngIf="(budget.amountSpent/budget.amount>=1)" class="badge rounded-pill bg-danger">
                Budget is Out of Control <i class="fa fa-battery-empty" style="color: black"></i>!
              </span>
            </td>
            <td>{{budget.description}}</td>
            <td>{{budget.amount}}</td>
            <td>{{budget.dateDebut}}</td>
            <td>{{budget.endDate}}</td>
            <td>
              {{budget.amountRemains}}
<!--              <p class="progress progress-bar bg-success" *ngIf="budget.amountSpent/budget.amountRemains<0.50">-->
<!--                <span class="progress-bar bg-success" role="progressbar"-->
<!--                      [ngStyle]="{'width.%':  ((budget.amountRemains-budget.amountSpent)/(budget.amountRemains)) * 100}"-->
<!--                      attr.aria-valuenow="{{(budget.amountRemains-budget.amountSpent)}}" aria-valuemin="0" aria-valuemax="100" >-->

<!--                </span>-->
<!--              </p>-->
<!--              <p class="progress"-->
<!--                 *ngIf="(budget.amountSpent/budget.amountRemains>0.50 && budget.amountSpent/budget.amountRemains<=0.70)">-->
<!--                <span class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width.%':  budget.amountSpent/budget.amountRemains * 100}"-->
<!--                      attr.aria-valuenow="{{budget.amountRemains-budget.amountSpent}}" aria-valuemin="0" aria-valuemax="100" >-->

<!--                </span>-->
<!--              </p>-->
<!--              <p class="progress"-->
<!--                 *ngIf="(budget.amountSpent/budget.amountRemains>0.70 )">-->
<!--                <span class="progress-bar bg-danger" role="progressbar"-->
<!--                      [ngStyle]="{'width.%':  ((budget.amountSpent-budget.amountRemains)/(budget.amountSpent)) * 100}"-->
<!--                      attr.aria-valuenow="{{budget.amountSpent-budget.amountRemains}}" aria-valuemin="0" aria-valuemax="100" >-->

<!--                </span>-->
<!--              </p>-->

              <p class="progress">
                <span [ngClass]="(budget.amountRemains/budget.amount>=0 && budget.amountRemains/budget.amount<0.50)?'progress-bar-fill bg-warning' :
                                           (budget.amountRemains/budget.amount>=0.50)?'progress-bar-fill bg-success' :
                                           (budget.amountRemains/budget.amount<0)?'progress-bar-fill bg-secondary':''"
                role="progressbar" [ngStyle]="{'width.%':  ((budget.amountRemains)/(budget.amount)) * 100}"
                attr.aria-valuenow="{{((budget.amountRemains)/(budget.amount)) * 100}}"
                      aria-valuemin="0" aria-valuemax="100">
                  {{budgetService.getPercentageOfAmountRemains(budget.amountRemains, budget.amount)}}%
                </span>
              </p>
            </td>
            <td>
              {{budget.amountSpent}}
              <p class="progress">
                <span [ngClass]="(budget.amountSpent/budget.amount>0)?'progress-bar-fill bg-danger' : ''"
                      role="progressbar" [ngStyle]="{'width.%':  (budget.amountSpent/budget.amount) * 100}"
                      attr.aria-valuenow="{{(budget.amountSpent/budget.amount) * 100}}"
                      aria-valuemin="0" aria-valuemax="100">
                  {{budgetService.getPercentageOfAmountSpent(budget.amount, budget.amountSpent)}}%
                </span>
              </p>
            </td>
            <td>{{budget.categoryExpanse.categoryExpanseType}}</td>
            <!--      <td *ngIf="budget.user!==null">{{budget.user.id}}</td>-->
            <td *ngIf="budget.user!==null">{{budget.user.name}}</td>
            <td *ngIf="authService.isAuthenticateUserHasRoleService('USER')">
              <span class="text-danger pointer" (click)="handleBudgetDelete(budget)">
<!--                <i class="bi bi-x-square"></i>-->
                <i class="bi bi-trash"></i>
              </span>
            </td>
            <td *ngIf="authService.isAuthenticateUserHasRoleService('USER')"><!--'expanse/updateExpanse/:expanseId' -->
              <a> <!-- [routerLink]="['/expanse/updateExpanse/', expanse.id]" -->
                <span class="text-success pointer" (click)="handleUpdateBudgetForm(budget)">
<!--            <span class="text-success" (click)="openModalExpanseUpdate(expanse)">-->
                  <i class="bi bi-pencil-square"></i>
                </span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li [ngClass]="0==(currentPage$ | async)?'diasabledPageNavButton':''" class="page-item pointer">
              <a (click)="goToNextOrPreviousPageOfBudgets('PreviousPage',searchForm.value.title)" class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li class="page-item pointer" [ngClass]="(currentPage$ | async)==i?'active':''"
                *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i=index;">
              <a class="page-link" (click)="goToAnotherPageOfBudgets(searchForm.value.title, authService.authenticatedUserLogin!.id, i)">{{i + 1}}</a>
            </li>
            <li [ngClass]="state.appData?.last ? 'diasabledPageNavButton':''" class="page-item pointer">
              <a (click)="goToNextOrPreviousPageOfBudgets('NextPage',searchForm.value.title)" class="page-link" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Bootstrap Alert Message pops up in case No Expanses were found when we click search! -->
    <div *ngIf="state.appData?.content!.length < 1" class="alert alert-secondary mt-5" role="alert">
      No Budgets were found!
    </div>
  </ng-container>

</ng-container>

