

<h1 class="text-center p-3">
  Total Expenses by Category
</h1>
<section class="container" *ngIf="expensesByCategory">
  <section class="card" *ngFor="let expensesByCat of expensesByCategory" >
    <section class="row visitedCard">
      <div class="col-md-3">
        <div class="m-5">
          <!--                {{budget .categoryExpanse.categoryExpanseType}}-->
          <div *ngIf="expensesByCat.category_expanse_id===20">
            <img src="./assets/images/grocery.png" alt="Grocery image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===61">
            <img src="./assets/images/drinks2.png" alt="Drinks image" width="52.5" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===9">
            <img src="./assets/images/gift.png" alt="Gift image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===3">
            <img src="./assets/images/airplane.png" alt="Airplane image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===49">
            <img src="./assets/images/trade.png" alt="Loan image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===56">
            <img src="./assets/images/internet.png" alt="Internet image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===58">
            <img src="./assets/images/cellphone.png" alt="Cell phone image" width="55" height="55">
          </div>

          <div *ngIf="expensesByCat.category_expanse_id===17">
            <img src="./assets/images/coffee.png" alt="Caffe image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===19">
            <img src="./assets/images/fastfood.png" alt="Fast food image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===18">
            <img src="./assets/images/restaurant2.png" alt="Cell phone image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===62">
            <img src="./assets/images/HomemadeFood.png" alt="Homemade Food image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===45">
            <img src="./assets/images/financialfees.png" alt="Charge Fees image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===6">
            <img src="./assets/images/pharmacy.png" alt="Drug_store_Chemist image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===60">
            <img src="./assets/images/games2.png" alt="Games image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===14">
            <img src="./assets/images/animals.png" alt="Pets_Animals image" width="55" height="55">
          </div>
          <div *ngIf="expensesByCat.category_expanse_id===63">
            <img src="./assets/images/Computer_PC.png" alt="Computer_PC image" width="55" height="55">
          </div>
        </div>
      </div>

      <span class="col-md-9">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===60"><strong>Games</strong></span>
                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===63"><strong>Laptop/Computer</strong></span>
                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===14"><strong>Animal(s)</strong></span>
                <span class="card-title text-danger"><strong>-{{expensesByCat.sumExpensesByCategory}} DH</strong></span>
                <span class="card-title"><strong><em style="color: #2e3b31">{{expensesByCat.percentOfExpensesPerMonth.toFixed(2) }} %</em></strong></span>

              </div>
<!--              <section class="card-text"><span>Limit: &nbsp;<strong>{{budget.amount}} DH</strong></span></section>-->
<!--              <section class="card-text"><span >Spent: &nbsp;<strong>{{budget.amountSpent}} DH</strong></span></section>-->
<!--              <section class="card-text"><span >Remaining: &nbsp;<strong>{{budget.amountRemains}} DH</strong></span></section>-->
              <section class="d-flex justify-content-center">
                <span class="card-text">From Date:&nbsp;<small class="text-muted">{{expensesByCat.createdDate}}</small></span>
<!--                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">End Date:&nbsp;<small class="text-muted">{{expensesByCat.endDate}}</small></span>-->
              </section>
              <!--              <section class="card-text">Debut Date:&nbsp;<small class="text-muted">{{budget.dateDebut}}</small></section>-->
              <!--              <section class="card-text">End Date:&nbsp;<small class="text-muted">{{budget.endDate}}</small></section>-->
              <section>
<!--                <span class="d-flex justify-content-end" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">-->
<!--                  <span class="text-danger pointer" (click)="handleBudgetDelete(budget)">-->
<!--&lt;!&ndash;                <i class="bi bi-x-square"></i>&ndash;&gt;-->
<!--                    <i class="bi bi-trash"></i>-->
<!--                  </span>-->
<!--                </span>-->
              </section>
              <section class="d-flex justify-content-between">
<!--                              <span *ngIf="(budget.amountSpent/budget.amount<0.50)" class="badge rounded-pill bg-success">-->
<!--                Budget is Respected  <i class="bi bi-trophy-fill" style="color: black"></i>-->
<!--              </span>-->
<!--              <span *ngIf="(budget.amountSpent/budget.amount>=0.50) && (budget.amountSpent/budget.amount<=0.99)" class="badge rounded-pill bg-warning">-->
<!--                Budget's nearly Out of Control <i class="bi bi-exclamation-triangle-fill" style="color: black"></i>!-->
<!--              </span>-->
<!--              <span *ngIf="(budget.amountSpent/budget.amount>=1)" class="badge rounded-pill bg-danger">-->
<!--                Budget is Out of Control <i class="bi bi-sign-stop" style="color: black"></i>!-->
<!--              </span>-->

<!--                <span>-->
<!--                  {{budgetService.getPercentageOfAmountRemains(budget.amountRemains, budget.amount)}}% Respected-->
<!--                </span>-->
              </section>
            </div>

            <section class="container">
              <section class="progress mb-3">

                <span [ngClass]="(expensesByCat.percentOfExpensesPerMonth>0)?'progress-bar-fill ':''"
                      role="progressbar" [ngStyle]="{'width.%':  expensesByCat.percentOfExpensesPerMonth,
                       'background-color': '#2e3b31'}"
                      attr.aria-valuenow="{{expensesByCat.percentOfExpensesPerMonth}}"
                      aria-valuemin="0" aria-valuemax="100">

                </span>
                <!--                <span [ngClass]="(budget.amountRemains/budget.amount>=0 && budget.amountRemains/budget.amount<0.50)?'progress-bar-fill bg-warning' :-->
                <!--                                           (budget.amountRemains/budget.amount>=0.50)?'progress-bar-fill bg-success' :-->
                <!--                                           (budget.amountRemains/budget.amount<0)?'progress-bar-fill bg-secondary':''"-->
                <!--                      role="progressbar" [ngStyle]="{'width.%':  ((budget.amountRemains)/(budget.amount)) * 100}"-->
                <!--                      attr.aria-valuenow="{{((budget.amountRemains)/(budget.amount)) * 100}}"-->
                <!--                      aria-valuemin="0" aria-valuemax="100">-->

                <!--                </span>-->
              </section>
            </section>
          </span>

<!--      <span class="col-md-2">-->
<!--&lt;!&ndash;        <span class="d-flex justify-content-center">&ndash;&gt;-->
<!--&lt;!&ndash;          <span class="card-body ">&ndash;&gt;-->
<!--            {{expensesByCat.percentOfExpensesPerMonth.toFixed(2) }} %-->
<!--&lt;!&ndash;          </span>&ndash;&gt;-->
<!--&lt;!&ndash;        </span>&ndash;&gt;-->
<!--      </span>-->
    </section>
  </section>
</section>

<div *ngIf="!expensesByCategory"  class="alert alert-secondary mt-5" role="alert">
  <!-- Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! -->
  No Expanses By Category were found!
</div>

