
<div class="one">
  <h1>Total Expenses by Category Ordered By Date</h1>
</div>
<br>
<section class="container" *ngIf="expensesByCategory">
  <section class="card" *ngFor="let expensesByCat of expensesByCategory" >
    <section class="row visitedCard">
      <div class="col-md-3">
        <div class="m-5">
          <!--                {{budget .categoryExpanse.categoryExpanseType}}-->

          <div *ngIf="expensesByCat.category_expanse_id">
            <img [src]="expanseService.handleImageExpenseById(expensesByCat.category_expanse_id)"
                 [alt]="expanseService.handleAltOfImagesExpenseById(expensesByCat.category_expanse_id)"
                 width="55" height="55">
            &nbsp;
            <img *ngIf="expensesByCat.category_expanse_id===5"
                 src="assets/images/shoes.png" alt="Shoes image"
                 width="35" height="35">
          </div>

        </div>
      </div>

      <span class="col-md-9">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="card-title" *ngIf="expensesByCat.category_expanse_id">
                  <strong>{{expanseService.handleCatExpNameByExpenseById(expensesByCat.category_expanse_id)}}
                  </strong>
                </span>
<!--                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===60"><strong>Games</strong></span>-->
<!--                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===63"><strong>Laptop/Computer</strong></span>-->
<!--                <span class="card-title" *ngIf="expensesByCat.category_expanse_id===14"><strong>Animal(s)</strong></span>-->
                <span class="card-title text-danger">
                  <strong>-{{expensesByCat.sumExpensesByCategory }}</strong>
                  <strong>{{authService.authenticatedUserLogin!.currency}}</strong>
                </span>
                <span class="card-title"><strong><em style="color: #dc3545">{{expensesByCat.percentOfExpensesPerMonth.toFixed(2) }} %</em></strong></span>

              </div>
<!--              <section class="card-text"><span>Limit: &nbsp;<strong>{{budget.amount}} DH</strong></span></section>-->
<!--              <section class="card-text"><span >Spent: &nbsp;<strong>{{budget.amountSpent}} DH</strong></span></section>-->
<!--              <section class="card-text"><span >Remaining: &nbsp;<strong>{{budget.amountRemains}} DH</strong></span></section>-->
              <section class="d-flex justify-content-center">
                <span class="card-text">From Date:&nbsp;<small class="text-muted">{{expensesByCat.createdDate | date}}</small></span>
<!--                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="card-text">End Date:&nbsp;<small class="text-muted">{{expensesByCat.endDate}}</small></span>-->
              </section>
              <!--              <section class="card-text">Debut Date:&nbsp;<small class="text-muted">{{budget.dateDebut}}</small></section>-->
              <!--              <section class="card-text">End Date:&nbsp;<small class="text-muted">{{budget.endDate}}</small></section>-->
              <section>
<!--                <span class="d-flex justify-content-end" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">-->
<!--                  <span class="text-danger pointer" (click)="handleBudgetDelete(budget)">-->
<!--&lt;!&ndash;                <i class="bi bi-x-square"></i>&ndash;&gt;-->
<!--                    <i class="bi bi-trash"></i>-->
<!--                  </span>-->
<!--                </span>-->
              </section>
              <section class="d-flex justify-content-between">

              </section>
            </div>

            <section class="container">
              <section class="progress mb-3">

                <span [ngClass]="(expensesByCat.percentOfExpensesPerMonth>0)?'progress-bar-fill ':''"
                      role="progressbar" [ngStyle]="{'width.%':  expensesByCat.percentOfExpensesPerMonth,
                       'background-color': '#dc3545'}"
                      attr.aria-valuenow="{{expensesByCat.percentOfExpensesPerMonth}}"
                      aria-valuemin="0" aria-valuemax="100">

                </span>

              </section>
            </section>
          </span>

    </section>
  </section>
</section>

<div *ngIf="!expensesByCategory"  class="container alert alert-secondary mt-5" role="alert">
  <!-- Bootstrap Alert Message pops up in case No Total Expanses were found when we click search! -->
  No Expanses By Category were found!
</div>

