<mat-card>

  <mat-card-title mat-dialog-title style="text-align: center">Add Income Form</mat-card-title>

  <mat-card-content>
    <form [formGroup]="incomeFormGroup" (ngSubmit)="handleNewIncomeForm(this.incomeFormGroup.value)">
      <div mat-dialog-content>
        <!--        <div class="myTitleAndAmount-container">-->
        <mat-form-field class="myMatFormField">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title">
          <mat-error *ngIf="incomeFormGroup.controls['title'].errors && incomeFormGroup.controls['title'].touched ">
            {{this.commonValidationMethods.getTitleErrorMessage('Title', incomeFormGroup.controls['title'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" floatLabel="always" class="myMatFormField">
          <mat-label>Amount</mat-label>
          <span matPrefix>$&nbsp;</span>
          <input matInput type="number" placeholder="0" formControlName="amount">
          <span matSuffix>.00</span>
          <mat-error *ngIf="incomeFormGroup.controls['amount'].errors && incomeFormGroup.controls['amount'].touched ">
            {{this.commonValidationMethods.getAmountErrorMessage('Amount', incomeFormGroup.controls['amount'].errors)}}
          </mat-error>
        </mat-form-field>
        <!--        </div>-->
        <mat-form-field class="myMatFormField">
          <mat-label >Description</mat-label>
          <input matInput type="text" placeholder="Description">
        </mat-form-field>
        <mat-form-field class="myMatFormField">
          <mat-label >Category Of Income</mat-label>
          <mat-select  formControlName="categoryIncome">
            <mat-option *ngFor="let cat of categoryIncomeAndGoalList" [value]="cat.id">
              {{cat.categoryIncomeType}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="incomeFormGroup.controls['categoryIncome'].touched &&
                            incomeFormGroup.controls['categoryIncome'].hasError('required') ">
            Category of Income is required!
          </mat-error>
        </mat-form-field>
        <!--        <section class="myDates-container">-->
        <mat-form-field class="example-full-width myMatFormField" appearance="fill" >
          <mat-label>Choose a Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="createdDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="incomeFormGroup.controls['createdDate'].touched &&
                                       incomeFormGroup.controls['createdDate'].hasError('required')">
            Created Date is required!
          </mat-error>
        </mat-form-field>
        <!--        </section>-->
        <!--  <button type="submit" class="btn btn-primary">Submit</button>-->
      </div>
      <div mat-dialog-actions >
        <button mat-raised-button color="warn" mat-dialog-close>Close</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--        <button style="margin: 0 auto" mat-raised-button color="primary" cdkFocusInitial type="submit">Submit</button>-->
        <button [disabled]="incomeFormGroup.invalid"
                [ngClass]="incomeFormGroup.invalid?'notAllowedButtonSuccess2':'btn btn-success'"
                style="margin: 0 auto" cdkFocusInitial type="submit" (click)="onClickCloseModal()">Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
