.MyDivForm {
  display: block;
  text-align: center;
}

form {
  justify-content: center;
  /* This bit sets up the horizontal layout */
  display: inline-block;
  /*display: flex;*/
  /*flex-direction:row;*/
  flex-flow: row wrap;
  /* This bit draws the box around it */
  /*border:1px solid grey;*/
  border:1px solid lightgray;
  /* I've used padding so you can see the edges of the elements. */
  padding:2px;
  width: 33%;

  border-radius: 20px;
  background-color: white;
}

input {
  border-radius: 20px;
  width: 85%;
  /*height: 2rem;*/
  /* Tell the input to use all the available space */
  /*flex-grow:2;*/
  /* And hide the input's outline, so the form looks like the outline */
  border:none;
}

input:focus {
  /* removing the input focus blue box. Put this on the form if you like. */
  outline: none;
}

form:hover {
  box-shadow: 3px 3px 3px 1px grey;
}

.MySearchButton {
  /* Just a little styling to make it pretty */
  /*border:1px solid blue;*/
  border: none;
  /*background:blue;*/
  /*color:white;*/
  width: 15%;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  /*position: relative;*/
  /*font-size: 75%;*/
}

/*button[content] {*/
/*  !*position: absolute;*!*/
/*  !*display-inside: ruby-base-container;*!*/
/*  display: compact;*/
/*  min-font-size: 50%;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/

/*form {*/
/*  !*text-align: center;*!*/
/*  !*width: 300px;*!*/
/*  position: relative;*/
/*  display: inline-block;*/
/*}*/

/*input {*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  !*flex-grow:2;*!*/
/*  !*width: 300px;*!*/
/*  height: 28px;*/
/*  border-radius: 25px;*/
/*  border: 1px solid lightblue;*/
/*}*/
/*button{*/
/*  border-radius: 7px;*/
/*  color: white;*/
/*  padding: 15px;*/
/*  position: absolute;*/
/*  right: 5px;*/
/*  top: 5px;*/
/*  !*color: red;*!*/
/*  !*top: -25px;*!*/
/*  !*bottom: -25px;*!*/
/*  !*border-radius: 10px;*!*/
/*  !*border-top-left-radius: 10px;*!*/
/*}*/
