<p>home works!</p>

<h4>Welcome to Your Budget & Income Management App! </h4>

<br>
<div class="MyDivForm">
  <form >
    <!--  <span class="Myspan">-->
    <input type="text" placeholder="Search for something...">
    <button type="submit" class="MySearchButton"><i class="bi bi-search"></i></button>
    <!--  </span>-->
  </form>
</div>
<br>

<h5>This App can do the following: </h5>

<p>
  This management application give clients the best user experience, by consulting the list of Expanses,
   Budgets, Incomes and Goals.
  Also any user can add a new Expanse, Income, Budget or a Goal to track and manage their money
   effectively.
</p>
<br>
<div>
  In addition, any information added by a user can be modified on any time later.
  Plus other important features that monitor if the budgets added by a Category on a period of debut and
  end Date were well respected, by also tracking expanses entered during the same period of date
  that have the same Category of Expanse where both 'Budget(s) and Expanse(s)' belongs to a same User.
</div>
