@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  /*
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   */
  font-family: 'Poppins', sans-serif;
}

.clickable{
  cursor: pointer;
}
.centerBoldTitle{
  text-align: center;
  font-weight: bold;
}
.boldText{
  font-weight: bold;
}

#searchBarWrap{
  display: flex;
  justify-content: center;
}

inlineElement {
  display: inline;
}

#inlineImageAndSize {
  display: inline;
  width: 55px;
  height: 55px;
}


/*.active{*/
/*  background-color: #666;*/
/*  color: white;*/
/*}*/

.dropdownItemStyle{
  color: #6c757d;
  background-color: #212529;
}
a:hover{
  background-color: #084b88;
}

.active-link{
  /*color: #6c757d;*/
  color: white;
  background-color: #084b88;
}


