<!-- Navigation Bar With a Responsive Menu that can collapse. -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" *ngIf="authService.isUserAuthenticatedService()"
       routerLinkActive="active-link">Home</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto" id="myUlNav">
        <li class="nav-item" *ngIf="authService.isUserAuthenticatedService()">
          <a href="#" routerLink="/users" class="nav-link"
             routerLinkActive="active-link" >User Profile</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isUserAuthenticatedService()" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Expanses Overview
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><a href="#" routerLink="/expanse" class="dropdown-item dropdownItemStyle"
                    routerLinkActive="active-link" >List of Expanses</a></li>
<!--            <li>-->
<!--              <a class="dropdown-item clickable dropdownItemStyle" routerLink="/newExpanse"-->
<!--                 routerLinkActive="active-link" >Add new Expanse</a>-->
<!--            </li>-->
            <li>
              <a class="dropdown-item clickable dropdownItemStyle" routerLink="totalExpansesByUser"
                 routerLinkActive="active-link">My Total Expanses</a>
            </li>
            <li>
              <a class="dropdown-item clickable dropdownItemStyle" routerLink="expensesByCategoryAndUserId"
                 routerLinkActive="active-link" >Total Expanses By Category</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/budget" class="nav-link" *ngIf="authService.isUserAuthenticatedService()"
             routerLinkActive="active-link" >Budget</a>
        </li>

        <li class="nav-item dropdown" *ngIf="authService.isUserAuthenticatedService()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Incomes Overview
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li class="nav-item">
              <a href="#" routerLink="/income" class="dropdown-item clickable dropdownItemStyle"
                 *ngIf="authService.isUserAuthenticatedService()"
                 routerLinkActive="active-link" >List of Incomes</a>
            </li>
<!--            <li><hr class="dropdown-divider"></li>-->
            <li class="nav-item">
<!--              <a  (click)="handleTotalIncomesPage()"-->
<!--                  class="dropdown-item clickable dropdownItemStyle" *ngIf="authService.isUserAuthenticatedService()"-->
<!--                  routerLinkActive="active-link" >My Total Incomes</a>-->
              <a  routerLink="totalIncomesByUser"
                  class="dropdown-item clickable dropdownItemStyle" *ngIf="authService.isUserAuthenticatedService()"
                  routerLinkActive="active-link" >My Total Incomes</a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="authService.isUserAuthenticatedService()">
          <a href="#" routerLink="/goal" class="nav-link" routerLinkActive="active-link" >Goal</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">Contact us!</a>-->
<!--        </li>-->
        <span *ngIf="authService.isUserAuthenticatedService()">
<!--        <li class="nav-item">-->
<!--          <strong>-->
<!--            <a class="nav-link">{{authService.authenticatedUserLogin!.name.toUpperCase()}}</a>-->
<!--          </strong>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="btn nav-link" (click)="handleLogout()" routerLinkActive="active-link" >Logout
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
        </span>
      </ul>

    </div>

  </div>
</nav>

<router-outlet></router-outlet>
