<!-- Navigation Bar With a Responsive Menu that can collapse. -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Home</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="#" routerLink="/users" class="nav-link" >Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Expanse Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" routerLink="/expanse" class="dropdown-item">Get Expanses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"
                 (click)="handleNewExpanseForm()"
                 >Add new Expanse</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/budget" class="nav-link">Budget</a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/income" class="nav-link">Income</a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/goal" class="nav-link">Goal</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact us!</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>
