<!-- Navigation Bar With a Responsive Menu that can collapse. -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" *ngIf="authService.isUserAuthenticatedService()">Home</a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="authService.isUserAuthenticatedService()">
          <a href="#" routerLink="/users" class="nav-link" >User Profile</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authService.isUserAuthenticatedService()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Expanse Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a href="#" routerLink="/expanse" class="dropdown-item" >Get Expanses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item clickable" (click)="handleNewExpanseForm()">Add new Expanse</a>
<!--              <a class="dropdown-item" routerLink="/expanse/newExpanse">Add new Expanse</a>-->
            </li>
            <li>
              <a class="dropdown-item clickable" (click)="handleTotalExpansesPage()">My Total Expanses</a>
              <!--              <a class="dropdown-item" routerLink="/expanse/newExpanse">Add new Expanse</a>-->
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/budget" class="nav-link" *ngIf="authService.isUserAuthenticatedService()">Budget</a>
        </li>
        <li class="nav-item">
          <a href="#" routerLink="/income" class="nav-link" *ngIf="authService.isUserAuthenticatedService()">Income</a>
        </li>
        <li class="nav-item" *ngIf="authService.isUserAuthenticatedService()">
          <a href="#" routerLink="/goal" class="nav-link">Goal</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a href="#" class="nav-link">Contact us!</a>-->
<!--        </li>-->
        <span *ngIf="authService.isUserAuthenticatedService()">
        <li class="nav-item">
          <strong>
            <a class="nav-link">{{authService.authenticatedUserLogin!.name.toUpperCase()}}</a>
          </strong>
        </li>
        <li class="nav-item">
          <a class="btn nav-link" (click)="handleLogout()">Logout
            <i class="bi bi-box-arrow-right"></i>
          </a>
        </li>
        </span>
      </ul>

    </div>

  </div>
</nav>

<router-outlet></router-outlet>
