<div class="one">
  <h1>Total Expenses by Category</h1>
</div>
<br>
<section class="container">
  <section class="myContainerOfExpenses">
    <button type="button" class="btn btn-outline-dark box clickable"
            routerLink="expensesByCategoryAndUserId" >
      Ordered By Date Desc
    </button>
    <button type="button" class="btn btn-outline-dark box clickable"
            routerLink="expensesByCategoryAndUserIdAmountDesc">
      Ordered By Amount Desc
    </button>
  </section>
</section>
