<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <div>
        <img src="assets/images/pageNotFound.png" width="100" height="100" class="ml-3">
        <span style="font-weight: bolder; font-size: x-large">&nbsp;Oops!</span>
        <h2>404 Page Not Found</h2>
        <section>
          Sorry, The page you requested was not found!
        </section>
        <section class="p-5">
          <a routerLink="/" class="btn btn-primary btn-lg"><span>Go Back Home</span></a>
        </section>
      </div>
    </div>
  </div>
</div>
