<div class="container mt-5 text-center">
  <button (click)="handleExpanseFormNav()"
          type="button" class="btn btn-outline-primary">
    <img class="inlineElement" src="./assets/images/addExpense2.png" alt="Goal image" width="35" height="35">
    Add New Expanse &nbsp;
    <i class="m-1 bi bi-plus-circle"></i>
  </button>
</div>

<ng-container *ngIf="(pageOfExpanses$ | async) as state" [ngSwitch]="state.appState">

  <!--'ng-template' Directive: will reference the id 'errors' in case the user encounter an error from backend: -->
  <ng-template #errors><!-- If we have error, we display it here: -->
    <div class="text-danger">
      {{errorMessage}}
    </div>
  </ng-template>
  <br><br>
  <!--'*ngSwitchCase="'APP_ERROR'': in case we got an error from the Backend captured by the 'state', THEN we will display the error in json. -->
  <ng-container *ngSwitchCase="'APP_ERROR'">
    <div class="container">
      <h3 class="text-danger">There was an error while getting your expanses, Please try later.
      </h3>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_ERROR'': in case the data is on 'state' loading, THEN we will display a spinner. -->
  <ng-container *ngSwitchCase="'APP_LOADING'">
    <div class="d-flex justify-content-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </ng-container>
  <!--'*ngSwitchCase="'APP_LOADED'': in case the data is on 'state' loaded, THEN we will display the whole table. -->
  <!-- Search Form: -->
  <div class="MyDivForm">
  <form class="FormHover" #searchForm="ngForm" (ngSubmit)="goToAnotherPage(searchForm.value.title.trim())">
    <input type="text" name="title" ngModel type="search" placeholder=" Search Expense(s)" aria-label="Search" aria-describedby="search-addon" />
    <button type="submit" class="MySearchButton">&nbsp;<i class="bi bi-search"></i></button>
  </form>
  </div>
  <ng-container *ngSwitchCase="'APP_LOADED'" >
    <div *ngIf="state.appData?.content!.length > 0">
      <h4 class="text-center mt-3">Expenses </h4>
      <h6 class="text-center">
        <img class="inlineElement" src="./assets/images/expenseHowMuch.png"
             alt="budget image" height="55" width="55">
        <span>&nbsp;How much I spend?</span>
      </h6>
      <br>
      <!-- Cards & Rows Instead of Table: -->
      <section class="container">
        <section class="card" *ngFor="let expanse of state.appData?.content; let i=index;" >
          <section class="row visitedCard">
            <div class="col-md-3">
              <div class="m-5">
<!--                {{expanse.categoryExpanse.categoryExpanseType}}-->
                <div *ngIf="expanse.categoryExpanse.categoryExpanseType" >
                  <img [src]="expanseService.handleImageExpense(expanse.categoryExpanse.categoryExpanseType)"
                       [alt]="expanseService.handleAltOfImageExpense(expanse.categoryExpanse.categoryExpanseType)"
                       width="55" height="55">
                </div>
              </div>
            </div>

            <span class="col-md-9 ">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <strong>
                  <span class="card-title">
                    {{expanseService.handleCatExpNameByCategory(expanse.categoryExpanse.categoryExpanseType)}}
                  </span>
                </strong>
              <span >
                  <span *ngIf="authService.isAuthenticateUserHasRoleService('USER')"><!--'expanse/updateExpanse/:expanseId' -->
                   <a>
                     <span class="text-success pointer" (click)="handleUpdateExpanseForm(expanse)">
                       <i class="bi bi-pencil-square"></i>
                     </span>
                   </a>
                  </span>
                </span>
              </div>
              <section class="card-text">Spent:&nbsp;
                <strong >{{expanse.amount.toFixed(2)}}</strong>
                <strong>&nbsp;{{authService.authenticatedUserLogin!.currency}}</strong>
              </section>
              <section class="card-text"><SMALL class="text-muted">{{expanse.createdDate | date}}</SMALL></section>
              <section >
                <span class="d-flex justify-content-end" *ngIf="authService.isAuthenticateUserHasRoleService('USER')">
                <a>
<!--                  <span class="text-danger pointer" (click)="handleExpanseDelete(expanse)">-->
<!--                  <span class="text-danger pointer" (click)="handleExpanseDelete2(expanse)">-->
<!--                  <span class="text-danger pointer" (click)="handleExpanseDelete3(expanse)">-->
<!--                  <span class="text-danger pointer" (click)="handleExpanseDelete4(expanse)">-->
<!--                  <span class="text-danger pointer" (click)="handleExpenseDeleteFinal(expanse)">-->
                  <span class="text-danger pointer"
                        (click)="
                        handleExpenseDeleteFinalV2(
                        expanse, state.appData!.number=i+1,
                         state.appData!.last=state.appData!.last,
                        state.appData!.totalPages=state.appData!.totalPages,
                        state.appData!.content!.length=state.appData!.content!.length,
                         state.appData!.totalElements=state.appData!.totalElements)">
                    <i class="bi bi-trash"></i>
                  </span>
                </a>
              </span>
              </section>
            </div>

            <section class="container">

            </section>
          </span>
          </section>
        </section>
      </section>

              <nav *ngIf="state.appData?.content!.length > 0" aria-label="Page navigation example">
                <ul  class="pagination justify-content-center">
                  <li [ngClass]="0==(currentPage$ | async)?'diasabledPageNavButton':''" class="page-item pointer">
                    <a (click)="goToNextOrPreviousPage('PreviousPage',searchForm.value.title)" class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                  </li>
                  <li class="page-item pointer" [ngClass]="(currentPage$ | async)==i?'active':''"
                      *ngFor="let pageNumber of [].constructor(state.appData?.totalPages); let i=index;">
                    <a class="page-link" (click)="goToAnotherPage(searchForm.value.title, authService.authenticatedUserLogin!.id, i)">{{i + 1}}</a>
                  </li>
                  <li [ngClass]="state.appData?.last ? 'diasabledPageNavButton':''" class="page-item pointer">
                    <a (click)="goToNextOrPreviousPage('NextPage',searchForm.value.title)" class="page-link" aria-label="Next">
                      <span aria-hidden="true">Next &raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
    </div>
    <!-- Bootstrap Alert Message pops up in case No Expanses were found when we click search! -->
    <div *ngIf="state.appData?.content!.length < 1" class="alert alert-secondary mt-5" role="alert">
      No Expanses were found!
    </div>

  </ng-container>

</ng-container>

