<main class="Mymain">
  <h1 class="text-center p-2">Profile page </h1>
  <main class="myProfileContainer" *ngIf="user">
    <span *ngIf="user.name==='Oussama'">
      <img class="MyProfileImage" src="./assets/images/oussama.png" alt="My profile image" width="200" height="172">
    </span>
    <span *ngIf="user.name==='Zakaria'">
      <img class="MyProfileImage" src="./assets/images/profile.png" alt="My profile image" width="200" height="172">
    </span>
    <span *ngIf="user.name==='Safwane'">
      <img class="MyProfileImage" src="./assets/images/profile.png" alt="My profile image" width="200" height="172">
    </span>
    <!--    <img class="MyProfileImage" src="./assets/images/oussama.png" alt="My profile image" width="200" height="172">-->
    <!--  <section class="myProfileContainer">-->
    <h2 class="box card-text">{{user.name}}</h2>
    <h5 class="box card-text">{{user.email}}</h5>
    <p class="box title">Currency:&nbsp;<strong>{{user.currency}}</strong></p>
    <section class="box card-text">Creation Date:&nbsp;<strong>{{user.dateCreation | date}}</strong></section>
    <!--  'user-total-balance': is a directive that loads the user's balance Component. -->
    <app-user-total-balance class="box card-text"> </app-user-total-balance>
<!--    <section *ngIf="user.active===true" class="box card-text">Account:&nbsp;<span class="badge bg-success"> Active</span></section>-->
<!--    <section *ngIf="user.active===false" class="box card-text">Account:&nbsp;<span class="badge bg-secondary"> Inactive</span></section>-->
    <section *ngIf="user.active===true" class="box card-text">Account:&nbsp;<span class="myGreenBadge"> Active</span></section>
    <section *ngIf="user.active===false" class="box card-text">Account:&nbsp;<span class="myGreyBadge"> Inactive</span></section>
    <!--  </section>-->
  </main>
</main>
